<div *ngIf="!showUser">
  <img style="	position: absolute;top: calc(55% - 75px);left: calc(51% - 50px);height: 70px; width: 70px;" src="https://i.gifer.com/ZZ5H.gif">
  <p style="position: absolute;top: calc(69% - 75px);left: calc(47% - 50px); color: #f7f9ff !important;font-weight: 100px;">Logging into Paykar......</p>
  </div>
<br><br><br><H1>
  <div *ngIf="showUser" style="font-weight: 100px; font-size: 40px;" class="container">
    Welcome                               {{name}}
  </div>
  <!DOCTYPE html>
  <html>

  <body>


  </body>

  </html>
</H1>


<div class="body"></div>


<!-- <div class="container">
  Click here to get a customized welcome message 
  <button (click)="getWelcomeMessage()" class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
    <H2>Your Customized Welcome Message</H2>
    {{welcomeMessageFromService}}
  </div>
   -->