<div class="about-section">
    <h1>Paykar</h1>
    <p>We Make Payments Easy And Secure</p>
    <p>Our goal is to make digital payments so easy, safe and universally accepted that people never feel the need to
        carry cash or cards again. We believe India is at the cusp of a new mobile revolution, which will change the way
        we manage our money on the go. We see ourselves facilitating this change, through technology and dogged customer
        centricity.</p>
</div>

<p style="text-align:center;color: rgb(7, 25, 87) !important">Leadership Team</p>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://www.phonepe.com/images/generic/sameer.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Chandler Bing</h2>
                <p class="title">CEO & Founder</p>
                <p>SVP Engineering and VP Marketing at Flipkart and previously founded Mime360.
                    Entrepreneur at heart, passionate about problem-solving and brewing good coffee.</p>
                <p>chandler@paykar.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://www.phonepe.com/images/generic/rahul.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Ross Geller</h2>
                <p class="title">Chief Technology Officer (CTO)</p>
                <p>VP Engineering - Supply Chain at Flipkart and previously co-founded Mime360.
                    Geek at heart, loves filing patents and chilling with his kids in his free time.</p>
                <p>ross@paykar.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://www.phonepe.com/images/generic/burzin.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>Joey Tribbiani</h2>
                <p class="title">Chief Reliability Officer (CRO)</p>
                <p>Co-founder Mime360 and VP Engineering at Shopzilla.
                    Loves building highly optimized, scalable systems as much as he relishes good food.</p>
                <p>joey@paykar.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <p  >Paykar is a brand owned by Paykar Private Limited (Formerly known as Paykaro Mart Pvt Ltd).
         It is licensed by the Reserve Bank of India for issuance and operation of a Semi Closed
        Prepaid Payment system.
        
    </p>
</div>