<div class="container">
  <div class=”background” style="text-align:center">
    <h2 style=" color: #f7f9ff !important">Contact Us</h2>
    <p style=" color: #f7f9ff !important">Swing by for a cup of coffee, or leave us a message at paykar@gmail.com</p>
  </div>
  <div class="row">
    <div class="column">
      <h6   style=" color: #f7f9ff !important">Registered Address:</h6>
      <br>
<p style=" color: #f7f9ff !important">Paykar Private Limited ,</p>
<p style=" color: #f7f9ff !important">Unit No.001, Ground Floor, Boston House, Suren Road,</p>
<p style=" color: #f7f9ff !important"> Off. Andheri-Kurla Road,Andheri(East) Mumbai-400093, Maharashtra,India</p>

      <img src="https://www.w3schools.com/w3images/map.jpg" style="width:100%">
    </div>
    <div class="login">

      <input type="text" placeholder="Name" name="name"><br><br>
      <input type="email" placeholder="E-Mail" name="email"><br><br>
      <input type="Number" placeholder="Mobile number" name="phone"><br><br>

      <textarea type="text" rows="4" cols="50" placeholder="Write Query Here">Write Query Here
          </textarea>
      <input (click)="home()" class="btn btn-success" type="button" value="Send Query To Us">'
    </div>
    
  </div>