

input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}
input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}
.table input{
	border: none
	
}
