<div class="body"></div>

<h1>Fund transfer</h1>
<br>

<div class="login">

	<input type="number" placeholder="*Amount" name="Amount" [(ngModel)]="Amount"><br>
				<p>
				<input (click)=changeAmount200()  class="btn btn-success" type="button" value="+200">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input (click)=changeAmount500()  class="btn btn-success" type="button" value="+500">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input (click)=changeAmount1000()  class="btn btn-success" type="button" value="+1000">
			</p>
	<input type="text" placeholder="*Reciever Number or Name" name="rphone" [(ngModel)]="rphone"><br>
	<div *ngIf="rphone==''">
		<span  class="text-danger"></span></div>
	<div *ngIf="amountDescription!=''">
		<span  class="text-danger">{{amountDescription}}</span></div>
		<div><span  *ngIf="description!=''"     class="text-danger">Insufficient balance</span></div>
		<div *ngIf="receiverDescription!=''">
			<span  class="text-danger">{{receiverDescription}}</span></div>
			
	<input (click)=fundtransfer() class="btn btn-success" type="button" value="Send">
</div>

<br>
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Mobile Number</th>
			<th>Option</th>
		</tr>
	</thead>
	<div *ngIf="searcher()"></div>
	<tbody>
		<tr  *ngFor="let title of searchtrans | slice:0:5">
			<td style="height:10px;">{{title.name}}</td>
			<td style="height:10px;">{{title.mobileNumber}}</td>
			<td style="height:10px;"><input style="  border: none" (click)=selectNumber(title.mobileNumber) class="btn btn-info"
				type="button" value="Select">
				</td>
		</tr>
</table>
